In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("Costomer+OrderForm (1).csv")

In [3]:
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [5]:
df.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [7]:
df["Phillippines"].value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [8]:
df["Indonesia"].value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [9]:
df["Malta"].value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [11]:
df["India"].value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [12]:
arr = [[271,267,269,280],[29,33,31,20]]
arr

[[271, 267, 269, 280], [29, 33, 31, 20]]

According to the question, the manager wants to check whether the defective % varies by centre.

<b>Null Hypothesis(H0):</b> there is no difference between the centre. <br>
<b>Alternate Hypothesis(H1):</b> there is difference atleast one of the centre.

Significance= 5%
alpha=0.05

To process with the requirement, we will do Test of Independence using Chi-Square test.

In [19]:
import scipy.stats as st

In [20]:
stat, p, df, exp = st.chi2_contingency(arr)

In [21]:
print("Stats:", stat)
print("p:", p)
print("degree of freedom: ", df)
print("expected values:", exp)

Stats: 3.858960685820355
p: 0.2771020991233135
degree of freedom:  3
expected values: [[271.75 271.75 271.75 271.75]
 [ 28.25  28.25  28.25  28.25]]

In [22]:
observed_value = [271, 267, 269, 280, 29, 33, 31, 20]
expected_value = [271.75,271.75,271.75,271.75, 28.25,28.25,28.25,28.25]

In [24]:
t_statistics, p_value = st.chisquare(observed_value, expected_value, ddof=df)

In [25]:
print("t_statistics: ", t_statistics)
print("p_value: ", p_value)

t_statistics:  3.858960685820355
p_value:  0.4254298144535761

In [29]:
alpha = 0.05

In [33]:
print("Significance = ", alpha)
print("p_value = ", p_value)

if p_value <= alpha:
    print("We reject Null Hypothesis, i.e., there is no difference between the centre")
else:
    print("We fail to reject the Null Hypothesis")

Significance =  0.05
p_value =  0.4254298144535761
We fail to reject the Null Hypothesis